@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Inconsolata:wght@200&display=swap');



.button {
    height: 3em;
    width: 80%;
    font-size: 1.5rem;
    border-radius: 10px;
    color: rgb(71, 70, 70);
    background: rgb(253, 253, 253);
    font-family: 'Arvo', serif;
    border: 4px solid black;
    }

.button:hover {
    box-shadow: 2px 2px 3px 3px rgb(14, 13, 13);
}

.equal {
    justify-content: stretch;
    height: 3.5em;
    width: 95%;
    font-size: 1.5em;
    border-radius: 10px;
    color: white;
    background: rgb(165, 75, 75);
    justify-self: stretch;
   
}

.equal:hover {
    box-shadow: -4px -4px 3px 3px rgb(209, 207, 207);
}